

/*CSS WEBSITE LAYOUT FOR PAGES*/
html, body{
    height:100%; /* important to vertically align the container */
    margin: auto;
    padding:0;
}

.header{
    text-align: center;
    padding: 0;
}

.topnav{
    overflow: hidden;
}

.topnav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.column{
    float: left; 
    width: 25%;
    padding: 0px 10px; 
    text-align: center; 
}

.row{
    margin: 0 -5px; 
}
.row:after {
    content: ""; 
    display: table; 
    clear: both; 
}

.card{
    padding: 16px;
    text-align: center; 
    height: 250px; 
    width: 200px; 
}
.footer{
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block; 
        margin-bottom: 20px; 
    }
}

.center{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.topleft{
    position: absolute;
    top: 8px;
    left: 16px;
}

.topright{
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottomleft{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.bottomright{
    position: absolute;
    bottom: 8px;
    right: 16px;
}