

/*CSS WEBSITE LAYOUT FOR PAGES*/
html, body{
    height:100%; /* important to vertically align the container */
    margin:0;
    padding:0;
}

.header{
    text-align: center;
    padding: 20px;
}

.topnav{
    overflow: hidden;
}

.topnav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.column{
    float: left; 
    width: 33.33%;
}

.row:after {
    content: ""; 
    display: table; 
    clear: both; 
}

.footer{
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.center{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.topleft{
    position: absolute;
    top: 8px;
    left: 16px;
}

.topright{
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottomleft{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.bottomright{
    position: absolute;
    bottom: 8px;
    right: 16px;
}