
/* USER LOGIN PAGE CSS*/

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.checkbox{
  position: static;
}

.login-form .login-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.login-form .login-control:focus {
  z-index: 2;
}
.login-form input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-login {		
  width: 350px;
}

.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-login .modal-header {
  border-bottom: none;   
  position: relative;
  justify-content: center;
}

.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px; 
}

.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}	
.modal-login .modal-footer {
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  font-size: 13px;
}

.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  z-index: 9;
  padding: 15px;
}

.modal-login .avatar img {
  width: 100%;
}

.modal-login.modal-dialog {
  margin-top: 80px;
}

.modal-login .btn {
  border-radius: 4px;    
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid:before {
  position: relative;
  left: -35px;
  content: '\2713';
}

.invalid:before {
  position: relative;
  left: -35px;
  content: '\00D7';
}
