
/* MAP TAB CSS FORMATTING*/

body{
    margin: 0; 
    padding: 0; 
}

#map{
    position: aboslute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

#menu{
    position: absolute; 
    paddng: 10px; 
    font: 'Carrois Gothic'; 

    background-color: #3a4663; 
}