
/* MAP TAB CSS FORMATTING*/

body{
    margin: 0; 
    padding: 0; 
}

#map{
    position: aboslute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

.mapbox_popup{
    max-width: 400px;
    font: 12px/20px 'Carrois Gothic'; 
}