

/*CSS WEBSITE STYLING FOR PAGES*/

html, body{
    font: 'Carrois Gothic'; 
    background-color: #e4d1d1;
}

body{
    background-color: #e4d1d1;
}

.button, .btn {
    border: none;
    background-color: #b9b0b0; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1{
    color: black; 
    font-size: 40x; 
}

h2{
    color: black; 
    font-size: 30px; 
}
h3{
    color: black; 
    font-size: 20px; 
}
.header{
    background-color: #e4d1d1;
}

.topnav{
    background-color: #77a8a8;
}

.topnav a{
    color: black;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #e4d1d1;
    color: black;
}

.footer{
    background-color: #e4d1d1;
}

.card{
    box-shadow: 0 4px 8 px 0 rgba(0, 0, 0, 0.2); 
    background-color: #77a8a8; 
}
.icon{
    border-color: black;
    border-radius: 50%;
}

.login-form{
    background-color: #e6b1b1; 
}

.modal-login {		
    color: black;
}

.modal-content{
    background-color: #e4d1d1; 
}

.modal-login .form-control:focus {
    border-color: #b9b0b0;
}

.modal-login .modal-footer {
    background: #c2d4dd;
    border-color: #b9b0b0;
    border-radius: 5px;
}

.modal-login .modal-footer a {
    color: black;
}	

.modal-login .avatar {
    background: #f0efef;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal-login .btn {
    color: black;
}

.modal-login .btn:hover, .modal-login .btn:focus {
    background: #f0efef;
    outline: none;
}
  
  /* Style all input fields */
input {
    border: 1px solid #ddeedd;
    border-radius: 4px;
}
  
  /* Style the submit button */
input[type=submit] {
  background-color: #77a8a8;
  color: black;
}
  
  /* The message box is shown when the user clicks on the password field */
#message {
  background: #f1f1f1;
  color: black;
} 

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}
